.page1{
    position: absolute;
width: 375px;
height: 1725px;
left: 0px;
top: 0px;

background: linear-gradient(180deg, #FFF6FB 0%, #E7F6FC 33.33%, rgba(213, 224, 255, 0) 100%);
}
.about{
    position: absolute;
width: 183px;
height: 30px;
left: 96px;
top: 146px;

}
#about_id{
font-family: 'Reptile';
font-style: normal;
font-weight: 500;
font-size: 33px;


color: #1B1B50;
}
.para1{
    position: absolute;
width: 290px;
height: 23px;
left: 42px;
top: 213px;
}
#para1_id{
    font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: center;
}
.para2{
    position: absolute;
width: 308px;
height: 75px;
left: 33px;
top: 273px;
}
#para2_id{
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 179%;
margin: 33px;
/* or 25px */


color: #000000;


}
.line{
    margin-top: 26px;
    position: absolute;
width: 297px;
height: 0px;
left: 46px;
top: 374px;

border: 1px solid #000000;
}
.para3{
    position: absolute;
width: 177px;
height: 33px;
left: 99px;
top: 406px;
}
#para3_id{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
/* identical to box height */


color: #1B1B50;
}
.para4{
    position: absolute;
width: 303px;
height: 132px;
left: 35px;
top: 476px;
}
#para4_id{
    font-family: 'Reptile';
font-style: normal;
font-weight: 500;
font-size: 33px;
line-height: 134.8%;
/* or 44px */

text-align: center;

color: #1B1B50;
}
.para5{
    position: absolute;
width: 308px;
height: 232px;
left: 33px;
top: 645px;
}
#para5_id{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 179%;
/* or 29px */

text-align: center;

color: #1B1B50;

}
.para6{
position: absolute;
width: 309px;
height: 493px;
left: 32px;
top: 1005px;

}
#para6_id{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 179%;
/* or 29px */

text-align: center;

color: #1B1B50;
}
.para7{

position: absolute;
width: 308px;
height: 116px;
left: 33px;
top: 1564px;
}
#para7_id{

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 179%;
/* or 29px */

text-align: center;

color: #1B1B50;
}