.page2{
position: absolute;
width: 375px;
height: 841px;
left: 0px;
top: 1725px;

background: linear-gradient(165.41deg, #D99EC9 0%, rgba(246, 240, 196, 0) 100%);
}
.para8{
    position: absolute;
width: 295px;
height: 33px;
left: 34px;
top: 39px;

}
#para8_id{
   font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
/* identical to box h
/* identical to box height */


color: #1B1B50;

}
.para9{
    position: absolute;
width: 335px;
height: 86px;
left: 34px;
top: 100px;

}
#para9_id{
    font-family: 'Reptile';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 134.8%;
/* or 43px */


color: #1B1B50;
}